[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MBA"]
	path = MBA
	url = https://github.com/finleya/mba
[submodule "spBayes"]
	path = spBayes
	url = https://github.com/finleya/spbayes
[submodule "spNNGP"]
	path = spNNGP
	url = https://github.com/finleya/spnngp
