[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MBA"]
	path = MBA
	url = https://github.com/cran/MBA
[submodule "spBayes"]
	path = spBayes
	url = https://github.com/cran/spBayes
[submodule "spNNGP"]
	path = spNNGP
	url = https://github.com/cran/spNNGP
